.body {
    background-color: lightgrey;
}

.subBody {  
  background: black;
  height: 120px;
  width: 100%;
  display: inline-block;
}

.header {
    text-align: center;
    color: blue;
    font-family: inherit;
    font-size: 65px;
    margin: 10px 10px;
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}

.container {
    text-align: center;
    color: white;
    font-size: 35px;
}

.link {
    color: blue;
    text-decoration: none;
    font-family: inherit;
    font-size: 25px;
    margin-left: 50px;
}

.nav .link {
  color: white;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
}

.nav .link:hover {
	background: blue;
	cursor: pointer; 
	transition: background .5s;  
}

#image {
    text-align: center;
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.Details {
    display: inline-block;
    width: 425px;
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.RaajeshDetails {
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    display: inline-block;
    padding-right: 30px;
}

/* Overview of Vishnu Jagan */
.VishnuDetails {
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    display: inline-block;
    padding-right: 30px;
}

/* Overview of Saikrishna Yadavalli */
.SaiDetails {
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    display: inline-block;
    padding-right: 30px;
}

img.picture {
    width: 445px;
    height: 400px;
}

.Background {
    display: inline-grid;
    width: 445px;
    height: 970px;
    border: 2px solid black;
    text-align: left;
    margin: 11px;
    padding-bottom: 40px;
    background-color: #FEF5E7;
}

.Category {
    text-align: center;
    height: 125px;
    width: 445px;
    background-color: #BFC9CA;
}

.Person {
    color: #2C4366;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
}

img.picture {
    width: 445px;
    height: 400px;
}

.Details {
    display: inline-block;
    width: 425px;
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Overview of Raajesh Arunachalam */
.RaajeshDetails {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
 padding-right: 5px;
}

/* Overview of Vishnu Jagan */
.VishnuDetails {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
 padding-right: 5px;
}

/* Overview of Saikrishna Yadavalli */
.SaiDetails {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
 padding-right: 5px;
}

.person {
    display: inline-grid;
    width: 445px;
    height: 1300px;
    border: 2px solid black;
    text-align: left;
    margin: 11px;
    padding-bottom: 22px;
}

.Name {
    font-size: 30px;
    text-align: center;
    font-family: inherit;
    color: #2C4366;
}

.copyright {
    color: gray;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}