/* The div section that incorporates the header. */
.header {
    text-align: center;
    color: blue;
    font-family: inherit;
    font-size: 40px;
    margin: 10px 10px;
}

/* The black block surrounding the tabs. */
.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}

/* The CSS styling for each tab. */
.link {
    color: blue;
    text-decoration: none;
    font-family: inherit;
    font-size: 30px;
}

.nav .link {
  color: white;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
}

/* The CSS styling when you move cursor over each tab. */
.nav .link:hover {
	background: blue;
	cursor: pointer; 
	transition: background .5s;  
}

/* The div section incorporating each of the tabs. */
.container {
    text-align: center;
    color: white;
    font-size: 35px;
    word-spacing: 2.5em;
}


/* The title of this project. */
.title {
    color: blue;
    text-align: center;
    height: 100%;
    width: 100%;
    border-width: medium;
    border-color: black;
}

#image {
    text-align: center;
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
}

.RaajeshDetails {
    color: black;
    font-size: 30px;
    font-style: italic;
}

/* Overview of Vishnu Jagan */
.VishnuDetails {
 color: black;
 font-size: 30px;
 font-style: italic;
}

/* Overview of Saikrishna Yadavalli */
.SaiDetails {
 color: black;
 font-size: 30px;
 font-style: italic;
}

img.picture {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 260px;
    height: 260px;
}
    
.body {
    background-color: lightgrey;
}

.subBody {  
  background: black;
  height: 60px;
  width: 100%;
  display: inline-block;
}

.section {
    border: 2px solid black;
    padding: 2px 0px;
    margin: 60px 20px;
    text-align: center;
    background-color: lightgray;
}

.person {
    display: inline-grid;
    border: 2px solid black;
    padding: 2px 2px;
    margin: 10px 8px;
    margin-bottom: 150px;
    text-align: left;
    background-color: lightgray;
    width: 445px;
    height: 600px;
}

.Category {
    text-align: center;
    margin-bottom: 5px;
    background-color: #BFC9CA;
    height: 125px;
}
    

.Name {
    font-size: 30px;
    text-align: center;
    font-family: inherit;
    color: #2C4366;
}

.copyright {
    color: gray;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
}

/* The black block surrounding the tabs. */
.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}