.title {
    color: blue;
    text-align: center;
    height: 100%;
    width: 100%;
    border-width: medium;
    border-color: black;
    font-family: inherit;
    font-size: 65px;
    margin: 10px 10px;
}

.body {
    background-color: lightgray;
}

.subBody {  
  background: black;
  height: 120px;
  width: 100%;
  display: inline-block;
}

.Header {
    background-color: black;
    width: 100%;
    height: 100%;
}

.image {
  background-image: url('https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Agile_software_development_Banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 800px;
  text-align: center; 
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}

.container {
    text-align: center;
    color: white;
    font-size: 35px;
}

.object {
    text-align: center;
}

.link {
    color: blue;
    text-decoration: none;
    font-family: inherit;
    font-size: 25px;
    margin-left: 50px;
}

.nav .link {
    color: white;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0px 10px;
}

.nav .link:hover {
	background: blue;
	cursor: pointer; 
	transition: background .5s;  
}

#Introduction {
    font-size: 25px;
    font-family: inherit;
    color: black;
}

h2 {
    color: darkblue;
}

#objective {
    color: black;
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
}

#ObjectiveBox {
    width: auto;
    height: auto;
    border: 2px solid black;
    padding: 20px 0px;
    margin: auto;
    margin-left: 12px;
    margin-right: 12px;
    display: block;
    text-align: center;
    align-content: center;
    background-color: lightgray;
}

.Background {
    display: inline-grid;
    width: 445px;
    height: 1100px;
    border: 2px solid black;
    text-align: left;
    margin: 11px;
    padding-bottom: 22px;
}

.Category {
    text-align: center;
    margin-bottom: 50px;
    height: 120px;
    width: 445px;
    background-color: #BFC9CA;
}

.Person {
    color: darkblue;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
}

img.picture {
    width: 445px;
    height: 800px;
}

.Details {
    display: inline-block;
    width: 425px;
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

.Caption {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
 padding-right: 5px;
 padding-bottom: 5px;
}

.photo {
    background-image: url('https://www.boxuk.com/-/media/hero-images/software-development.jpg?h=836&w=1254&la=en&hash=3380E433956509B078E9773259C4C47CCC4DE892');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 1000px;
    text-align: center; 
}

.copyright {
    color: gray;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
}