/* The title of this project. */
.title {
    color: blue;
    text-align: center;
    height: 100%;
    width: 100%;
    border-width: medium;
    border-color: black;
    font-family: inherit;
    font-size: 40px;
    margin: 10px 10px;
}

/* The entire body of the website. */
.body {
    background-color: lightgray;
}

.subBody {  
  background: black;
  height: 60px;
  width: 100%;
  display: inline-block;
}

/* The div section that incorporates the header. */
.Header {
    background-color: black;
    width: 100%;
    height: 100%;
}

/* The background image displayed at the top of the webpage. */
.image {
  background-image: url('https://www.cognizant.com/content/dam/Cognizant_Dotcom/images/Agile_software_development_Banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 800px;
  text-align: center; 
}


 
/* The black block surrounding the tabs. */
.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}

/* The div section incorporating each of the tabs. */
.container {
    text-align: center;
    color: white;
    font-size: 35px;
    word-spacing: 2.5em;
}

/* The visual image added below the tabs. */
.object {
    text-align: center;
}

/* The CSS styling for each tab. */
.link {
    color: blue;
    text-decoration: none;
    font-family: inherit;
}

.nav .link {
  color: white;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
}

/* The CSS styling when you move cursor over each tab. */
.nav .link:hover {
	background: blue;
	cursor: pointer; 
	transition: background .5s;  
}

/* This is a brief introduction of the project members. */
#Introduction {
    font-size: 25px;
    font-family: inherit;
    color: black;
}

h2 {
    color: darkblue;
}

#objective {
    color: black;
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
}

#ObjectiveBox {
    width: auto;
    height: auto;
    border: 2px solid black;
    padding: 20px 0px;
    margin: auto;
    margin-left: 12px;
    margin-right: 12px;
    display: block;
    text-align: center;
    align-content: center;
    background-color: lightgray;
}

.Background {
    display: inline-grid;
    width: 445px;
    height: 900px;
    border: 2px solid black;
    text-align: left;
    margin: 8px;
}

img.picture {
    width: 445px;
    height: 400px;
}

.Person {
    color: darkblue;
    font-size: 30px;
    font-family: inherit;
    text-align: center;
}

.Details {
    display: inline-block;
    width: 425px;
    height: 500px;
    padding: 10px 20px;
}


/* Overview of Raajesh Arunachalam */
.RaajeshDetails {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
}

/* Overview of Vishnu Jagan */
.VishnuDetails {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
}

/* Overview of Saikrishna Yadavalli */
.SaiDetails {
 color: black;
 font-size: 20px;
 font-style: italic;
 text-align: left;
 display: inline-block;
}


.photo {
    background-image: url('https://www.boxuk.com/-/media/hero-images/software-development.jpg?h=836&w=1254&la=en&hash=3380E433956509B078E9773259C4C47CCC4DE892');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 1000px;
    text-align: center; 
}

.copyright {
    color: gray;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
}