
/* The black block surrounding the tabs. */
.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}

/* The CSS styling for each tab. */
.link {
    color: blue;
    text-decoration: none;
    font-family: inherit;
    font-size: 25px;
    margin-left: 50px;
}

.nav .link {
  color: white;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
}

/* The CSS styling when you move cursor over each tab. */
.nav .link:hover {
	background: blue;
	cursor: pointer; 
	transition: background .5s;  
}

/* The div section incorporating each of the tabs. */
.container {
    text-align: center;
    color: white;
    font-size: 35px;
}

.body {
    background-color: lightgray;
}

.subBody {  
  background: black;
  height: 120px;
  width: 100%;
  display: inline-block;
}

.header {
    text-align: center;
    color: blue;
    font-family: inherit;
    font-size: 65px;
    margin: 10px 10px;
}

.section {
    display: inline-grid;
    border: 2px solid black;
    width: 400px;
    height: 650px;
    text-align: center;
    margin: 8px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: #FEF5E7;
}

.Category {
    text-align: center;
    margin-bottom: 15px;
    height: 120px;
    background-color: #BFC9CA;
}

.font {
    font-family: inherit;
    padding: 10px;
    color: #2C4366;
}


.image1 {
    background-image: url('https://cdn2.hubspot.net/hubfs/533526/Blog%20Photos%20-%20Anna/Software%20development%20trends%202017.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 700px;
    width: 700px;
    text-align: center; 
    align-content: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
}

.list {
    color: black;
    margin-right: 20px;
    margin: 8px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
    margin-right: 10px;
    padding-right: 50px;
    padding-left: 25px;
}


.logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-left: 15px;
}

.copyright {
    color: gray;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
}